<%= erb :"common/header" %>
  <title>Registration Additional Information</title>
</header>

<%= erb :"common/nav" %>
    
<div class="containerSmall">
  <div class="contentSmall">
    <h1 class="text-center  pb-3">Welcome!</h1>
    <p class="text-center  pb-3">Provide additional information</p>
    <form method="post">
      <div class="mb-3">
        <label for="username" class="form-label">Your Name</label>
        <input id="username" type="text" class="form-control" name="username" pattern="/^([A-Za-z]+\s?)*[A-Za-z]$/" required>
      </div>
      <div class="mb-3">
        <label for="department" class="form-label">Department</label>
        <% if @userType == "Mentor" %>
          <input id="department" type="text" class="form-control" name="department" required>
        <% else %>
          <input id="department" type="text" class="form-control" name="department">
        <% end %>
      </div>
      <div class="mb-3">
        <label for="area" class="form-label">Area of Interst</label>
        <% if @userType == "Mentor" %>
          <input id="area" type="text" class="form-control" name="area" required>
        <% else %>
          <input id="area" type="text" class="form-control" name="area">
        <% end %>
      </div>
      <div class="mb-3">
        <label for="bio" class="form-label">Bio</label>
        <% if @userType == "Mentor" %>
          <textarea id="bio" name="bio" required class="form-control" rows="4"></textarea>
        <% else %>
          <textarea id="bio" name="bio" class="form-control" rows="4"></textarea>
        <% end %>
      </div>
      <button type="submit" class="btn btn-primary btnC">Create an account</button>
    </form>
  </div>
</div>
<%= erb :"common/footer" %>
