<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/<version>/slimselect.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/<version>/slimselect.min.css">
  <title>Additional Information</title>
</head>

<body>
<%= erb :"common/nav" %>
<div class="containerSmall">
  <div class="contentSmall">
    <h1 class="text-center  pb-3">Welcome!</h1>
    <p class="text-center  pb-3">Provide additional information</p>
    <form method="post">
      <div class="mb-3">
        <label for="username" class="form-label">Your Name</label>
        <input id="username" type="text" class="form-control" name="name" required>
      </div>
      <div class="mb-3">
        <% if @user_type == 0 %>
          <label for="department" class="form-label">Department</label>
          <input id="department" type="text" class="form-control" name="department" required>
        <% else %>
          <label for="department" class="form-label">Department (optional)</label>
          <input id="department" type="text" class="form-control" name="department">
        <% end %>
      </div>
      <div class="mb-3">
        <% if @user_type == 0 %>
          <label for="areas" class="form-label">Areas of Interest</label>
          <input id="areas" type="text" class="form-control" name="areas" required>
        <% else %>
          <label for="areas" class="form-label">Areas of Interest (optional)</label>
          <input id="areas" type="text" class="form-control" name="areas">
        <% end %>
      </div>
      <div class="mb-3">
        <% if @user_type == 0 %>
          <label for="bio" class="form-label">Bio</label>
          <textarea id="bio" name="bio" required class="form-control" rows="4"></textarea>
        <% else %>
          <label for="bio" class="form-label">Bio (optional)</label>
          <textarea id="bio" name="bio" class="form-control" rows="4"></textarea>
        <% end %>
      </div>
      <button type="submit" class="btn btn-primary btnC">Create an account</button>
    </form>
  </div>
</div>
<%= erb :"common/footer" %>
</body>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"/>
</html>
