<%= erb :"common/header" %>
  <title>Registration</title>
</header>

<%= erb :"common/nav" %>

<div class="containerSmall">
  <div class="contentSmall">
  <h1 class="text-center  pb-3">Welcome!</h1>
  <p class="text-center  pb-3">Create an account to continue</p>
  <form method="post" class="needs-validation" novalidate>
    <div class="mb-3">
      <% puts @validation %>
      <% unless @validation.nil? || @validation.empty? %>
      <div class="alert alert-danger" role="alert">
        Encountered errors:
        <ul>
        <% @validation.each do |k, v| %>
            <li> <%= v.join(', ') %></li>
        <% end %>
        </ul>
      </div>
        <% end %>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control"
             name="email"
             required
             pattern="^([a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6})*$">
      <div class="invalid-feedback">
        Email is invalid or empty
      </div>
    </div>
    <div class="mb-3">
      <label for="pass" class="form-label">Password</label>
      <input type="password" class="form-control val-psw"
             name="pass"
             required
             pattern="(?=(.*[0-9]))((?=.*[A-Za-z0-9])(?=.*[A-Z])(?=.*[a-z]))^.{8,}$">
      <div class="invalid-feedback">
        Password must contain at least 8 characters and include an uppercase, lowercase letter and a number
      </div>
    </div>
    <div class="mb-3">
      <label for="re-pass" class="form-label">Confirm Password</label>
      <input type="password" class="form-control val-re-psw" name="re-pass" required>
      <div class="invalid-feedback">
        Passwords do not match
      </div>
    </div>
    <div class="mb-3">
      <label for="user-type" class="form-label">Who you are?</label>
      <select name="user-type" class="form-select" required>
        <option value="0" selected>Mentor</option>
        <option value="1">Mentee</option>
      </select>
      <div class="invalid-feedback">
        User type is not selected or invalid
      </div>
    </div>
    <button type="submit" class="btn btn-primary btnC">Continue</button>
    <br/>
    <a href="login" class="text-decoration-underline text-decoration-none">Have an account? Log in please</a>
  </form>
  </div>
</div>
<script src="/js/frontendValidation.js"></script>
<%= erb :"common/footer" %>
</html>