<%= erb :"common/header" %>
<title>Password Reset</title>
</head>
<%= erb :"common/nav" %>

<div class="containerSmall">
  <div class="contentSmall">
    <h1 class="text-center  pb-3">Password Reset</h1>
    <p class="text-center  pb-3">Enter your email to reset password.</p>
    <% if @reset_complete %>
      <div class="alert alert-success" role="alert">
        If this account exists, we have sent you an email!
      </div>
    <% end %>
    <form method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email"
               class="form-control"
               name="email"
               required
               pattern="^([a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6})*$">
        <div class="invalid-feedback">
          Email is invalid or empty
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary btnC">Reset Password</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/frontendValidation.js"></script>

<%= erb :"common/footer" %>
</html>