.bioText{
  width: 70%;
}
.title{
  font-weight:bold;
}
.name{
  width: 45%;
}
.email{
  display: inline-block;
}
#staticName{
  font-size: 1.5em;
  width: 20em;
}
#backToMentorList{
  width: 5em;
  height: 3em;
}
.show{
  display: none;
}