html, body{
  height: 100%;
  margin: 0;
  background-color: #f7f6f6;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.navi{
  width: 95%;
  padding: 0.5%;
  margin: auto;
  font-size: 1.5em;
}
li{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.nav-pills .nav-link.active{
  background-color: #FFDD84;
  color: #000000;
}
.navPic{
  width: 2.5em;
  text-align: center;
}

.picSmall{
  width: 85%;
  border-radius:50%
}
.picSignup{
  width: 35%;
  border-radius:50%;
}

.btn{
  font-size: inherit;
  border: none;
}
.btnC{
  background-color: #FFC107;
  color: #ffffff;
}

.container{
  width:80%;
  margin: 2em auto;
  background-color: #ffffff;
  border-radius: 1.5em;
}
.containerSmall{
  width:40%;
  margin: 2em auto;
  background-color: #ffffff;
  border-radius: 1.5em;
}

.content{
  padding: 5% 3%;
}
.contentSmall{
  padding: 5% 14%;
}

.footer{
  margin-top: 6%; 
  position: relative; 
  width: -webkit-fill-available;
}
.push {
  height: 50px;
}
