.row{
  margin-bottom: 2em;
}
.col-9{
  margin-left: 1em;
  padding-left: 2em;
}
.btnHeader{
  width: 40%;
  text-align: left;
  font-size: 2.5em !important;
  font-weight: 600;
}
.text{
  text-align: left;
  margin: 0;
}
.form-control{
  width: 60%;
}
.edit{
  display: none;
}
#saveNCancel button{
  margin-right: 2em;
}
#editNDelete button{
  margin-right: 2em;
}
.picProfile{
  border-radius: 50%;
  width: 80%;
}
#picture{
  margin-left: 33%;
  margin-top: 12%;  
}