<footer class="bg-warning" style="margin-top: 6%; position: relative; width: -webkit-fill-available;">
  <div class="navi">
    <p>&copy;2021 COM1001 Team27 Project</p>
    <p>Author: Kai Zheng, Milosz Tabaka, Nathan Scott, Ruomeng Zhang, Vykintas Valuzis, Xianghan Lin.</p>
  </div>
</footer>